.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.roadmap-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.cell {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

.player {
    background-color: blue;
    color: white;
    font-size: 12px;
}

.banker {
    background-color: red;
    color: white;
    font-size: 12px;
}

.tier {
    background-color: #146c43;
    color: white;
    font-size: 12px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.map-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;

    /* Custom Scrollbar */
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.map-box1 {
    flex: 0 0 30%;
    /* Chiếm 40% */
    padding: 20px;
    text-align: center;
}

.add-roadmap {
    width: 20%;
}

/* Khi màn hình nhỏ (dưới 768px), đổi sang dạng dọc */
@media (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    .map-box1,

    .add-roadmap {
        width: 25%;
    }
}

.header-card {
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.btn-deleteTable {
    background-color: white;
    color: red;
    border-radius: 50%;
}

.action-bnt-gr {
    display: flex;
    gap: 32px;
}

.roadmap-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* khoảng cách giữa các box */
    flex-wrap: wrap;
    /* cho phép xuống dòng nếu cần */
}

/* Các box chiếm nửa chiều rộng màn hình khi rộng */
.roadmap {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 49%;
    /* để box không quá nhỏ trên màn hình nhỏ */
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Trên màn hình nhỏ (dưới 768px), các box sẽ chiếm toàn bộ hàng */
@media (max-width: 1024px) {
    .roadmap {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.result-container {
    /* background: #f2f2f2; */
    border: 1px solid #ddd;
}

.result {
    display: flex;
    font-size: 14px;
    /* khoảng cách giữa các box */
    flex-wrap: wrap;
    /* cho phép xuống dòng nếu cần */
}

/* Các box chiếm nửa chiều rộng màn hình khi rộng */
.result-item {
    min-width: 500px;
}

.lbl {
    width: 30%;
    font-weight: 500;
}

.lbl-result {
    color: red;
    font-weight: bold;
}

.tb-header {
    display: flex;
    align-items: baseline;
    gap: 6px;
}