.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.roadmap-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.cell {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

.player {
    background-color: blue;
    color: white;
    font-size: 12px;
}

.banker {
    background-color: red;
    color: white;
    font-size: 12px;
}

.tier {
    background-color: #146c43;
    color: white;
    font-size: 12px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f8f9fa;
    padding: 12px;
}

.map-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.map-box1 {
    flex: 0 0 30%;
    padding: 20px;
    text-align: center;
}

.add-roadmap {
    width: 20%;
}

@media (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    .map-box1,

    .add-roadmap {
        width: 25%;
    }
}

.header-card {
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.btn-deleteTable {
    background-color: white;
    color: red;
    border-radius: 50%;
}

.action-bnt-gr {
    display: flex;
    gap: 32px;
}

.roadmap-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: wrap;
}

.roadmap {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 49%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}

@media (max-width: 1024px) {
    .roadmap {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.result-container {
    border: 1px solid #ddd;
}

.result {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    gap: 6px;
}

@media (max-width: 768px) {
    .result {
        grid-auto-flow: row;
        grid-template-rows: none;
        grid-template-columns: 1fr;
    }
}

.lbl {
    width: 46%;
    font-weight: 500;
}

.lbl-result {
    color: red;
    font-weight: bold;
}

.tb-header {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.table-container {
    margin-bottom: 80px;
}